* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6,label,.contact-name {
  color: #000;
  font-weight: 900;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
  display: block;
  font-size: 1.3rem;
  margin: 10px auto;
}
.btn {
  width: 100%;
  height: 50px;
  border: none;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}
.btn-blue {
  background-color: rgba(0, 0, 255, 0.7)
}

.btn-red {
  background-color: rgba(255, 0, 0, 0.7);
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.full,
.half {
  float: left;
  padding: 10px;
}
.full {
  width: 100%;
}
.half {
  width: 50%;
}

/* Container */
.contact-container {
  float: left;
  width: 100%;
}

/*Sidebar*/
.contact-item-container {
  max-width: 350px;
  min-height: 300px;
  height: 100vh;
  overflow: hidden;
  border-right: 1px solid gray;
}
.search {
  height: 100px;
  /*border-bottom: 1px solid gray;*/
}
.contact-title {
  text-align: center;
  margin: 0;
  width: calc(100% - 30px);
  margin-left: 20px;
  padding-right: 0px;
  margin-top: -5px;
}
.contact-list {
  height: calc(100% - 85px);
  overflow-y: auto;
  margin-right: -11px;
}
.contact-item {
  cursor: pointer;
  padding-left: 20px;
  margin-top: -1px;
}
.contact-item hr {
  margin: 0px -10px -10px;
  border-style: none;
  border-bottom: 1px solid gray;
}
.contact-itemx::after {
  content: "";
  float: left;
  width: 20%;
  border-bottom: 3px solid gray;
}
.contact-item:hover {
  background: rgba(255, 0, 0, 0.7);
}
.contact-item:hover::after {
}
.contact-name {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
}

/*Search*/
.search-bar {
  width: 100%;
  padding: 10px;
}
.search-bar input {
  width: 100%;
  border: 1px solid gray;
  padding: 5px;
}

/*Content Bar*/
.contact-content-container {
  height: 100vh;
  max-width: 600px;
  padding: 10px 20px;
  overflow-y: auto;
}
.content-title {
  font-size: 2.3rem;
  margin: 0px;
}
.content-title::after{
  content: "";
  float: left;
  width: 100%;
  margin: 20px auto;
  border-bottom: 1px solid gray;
}
hr.separator {
  width: 100%;
  margin: 20px auto;
  border-style: none;
  border-bottom: 1px solid gray;
  display: inline-block;
}
.page-container {
  padding: 10px;
}

/*Detail Content*/
.contact-detail {
  max-width: 100%;
}
.contact-description,
.contact-action {
  float: left;
  width: 100%;
}

/*Form*/
.contact-form {
  float: left;
  width: 100%;
  max-width: 570px;
}
.input-group {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.input-group-item {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
.action {
  float: right;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.contact-detail-content {
  float: left;
  width: 100%;
  margin: 8px auto;
}
.contact-form label,
.contact-detail-content label,
.contact-detail-content .content {
  font-size: 1.125rem;
  font-family: 'Lato', Arial;
}
.contact-detail-content label{
  float: left;
  width: 40%;
  margin: 0px;
}
.contact-detail-content .content{
  float: left;
  width: 55%;
}
.content .tree-item {
  padding-bottom: 8px;
}

@keyframes anim {
  30%{ transform: scale(0.75); }
  50%{ background-color: rgba(50, 50, 50, 0.2); }
  70%{ transform: scale(1); }
  100%{ background-color: rgba(50, 50, 50, 0); }
}

.button-effect {
  animation-name: anim;
  animation-duration: 0.25s;
}
input, select, textarea {
  float: left;
  height: 30px;
  padding: 5px;
  font-size: 0.875rem;
  width: calc(100% - 30px);
  font-family: "Open Sans", sans-serif;
}
textarea {
  max-width: calc(100% - 25px);
  height: 80px;
  max-height: 200px;
}
.fa {
  display: block;
  margin: 0 auto;
  font-size: 1.5rem !important;
  transform: translateY(50%);
  margin-top: calc(-50% + 3px);
  height: 29px;
  width: 28px;
  text-align: center;
}

/*Menu*/
.menu {
  float: left;
  width: 70%;
  margin: 5px 0px;
  padding: 10px 0px;
  border-bottom: 1px solid gray;
}
ul.menu > li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}
ul.menu > li > a {
  padding: 10px;
  cursor: pointer;
}

.sponsor label {
  text-align: center;
}
.sponsor img {
  width: 100%;
}

/*Scrollbar*/
*::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: transparent;
}
*::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
*::-webkit-scrollbar-thumb {
	background-color: transparent;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}
